<%- include('partials/header'); %>
    <%- include('partials/nav') %>
    <form action="/armStrong" method="post">
        <input type="text" placeholder="Enter a number to check " name="nValue">
        <button type="submit">Find</button>
    </form>

<%- include('partials/footer'); %>