<%-include('partials/header'); %>

    <%- include('partials/nav')%>

    
    <form action="/primeNumbers" method="post">
        <input type="text" placeholder="Enter the value of N" name="nValue">
        <button type="submit">Find</button>
    </form>

<%- include('partials/footer'); %>