
<nav>
    <div class="toggle">
        <i class="fa-solid fa-bars fa-2x"></i>
    </div>
    <a href="/">Home</a>
    <a href="/fibonacci">Fibonacci Series</a>
    <a href="/primeNumbers">Prime Numbers</a>
    <a href="/armStrong">Armstrong Number</a>
</nav>

<div class="toggle-options">
    <a href="/" class="a">Home</a>
    <a href="/fibonacci">Fibonacci Series</a>
    <a href="/primeNumbers">Prime Numbers</a>
    <a href="/armStrong">Armstrong Number</a>
</div>
